{% extends "base_page.html" %}
{% load staticfiles pipeline %}

{% block extra_css_b %}
  {% stylesheet 'pickadate_css' %}
  <style type="text/css">
    .picker__frame {
        overflow-y: auto;
    }

    .collection-item.avatar {
      min-height: auto    !important;
      padding-left: 30px  !important;
    }

    li.collection-item.avatar span.title {
      font-size: large    !important;
    }

    li.collection-item.avatar p.subtext {
      color: darkgrey;
    }

    hr.header-sep {
      height: 0;
      border: 0;
      border-top: 1px solid gainsboro;
    }
  </style>
{% endblock extra_css_b %}

{% block nav_ul_desktop_b %}
  <li><a href="{% url 'students:auth_logout' %}">Logout</li>
{% endblock nav_ul_desktop_b %}
{% block nav_ul_mobile_b %}
  <li><a href="{% url 'students:auth_logout' %}">Logout</li>
{% endblock nav_ul_mobile_b %}

{% block main_body_b %}
  <div class="container">
    <br>

    <div class="row">
      <div class="col s7">
        <ul class="collection with-header">
          <li class="collection-header"><h4>Bookings</h4></li>
          <div id="user-bookings-list">
            <!-- populated by ajax request -->
          </div>
        </ul>
      </div>

      <div class="col s4 offset-s1">
        <h4>Make a Booking</h4>
        <hr class="header-sep">
        <form id="new-booking-form" method="post" action=".">
          {% csrf_token %}

          <input id="new-booking-date" class="datepicker" type="date" placeholder="Select Date">
          <input id="new-booking-time" class="timepicker" type="date" placeholder="Select Time">
          <button id="submit-new-booking" type=submit class="waves-effect waves-light btn orange disabled" disabled>Make Booking</button>
        </form>
      </div>
    </div>
  </div>
{% endblock main_body_b %}

{% block extra_js_b %}
  {% javascript 'pickadate_js' %}
  {% javascript 'moment_js' %}

  <script>
    var init_booking_form = function(){
      $('.datepicker').pickadate({
        onSet: update_booking_form,
        min: true
      });

      $('.timepicker').pickatime({
        onSet: update_booking_form
      });

      $("#new-booking-form").on('submit', function(event){
        event.preventDefault();

        var date = $("#new-booking-date").val();
        var time = $("#new-booking-time").val();

        var datetime = date + " " + time;

        data = { datetime_str:  datetime};
        $.post("/students/booking/", data, function(response){
          Materialize.toast(response, 4000);

          update_booking_list();
        }).fail(function(response){
          Materialize.toast("Sorry, failed! " + response.responseText, 4000);
        });
      });

      update_booking_form();
    };

    var init_booking_list = function(){
      update_booking_list();
      $("#user-bookings-list").on("click", ".secondary-content", delete_booking);
    };

    var update_booking_form = function(){
      var date = $("#new-booking-date").val();
      var time = $("#new-booking-time").val();

      $("#submit-new-booking").toggleClass("disabled", !(date && time));
      if(!(date && time)){
        $("#submit-new-booking").attr("disabled");
      }else{
        $("#submit-new-booking").removeAttr("disabled")
      }
    };

    var update_booking_list = function(){
      $("#user-bookings-list").empty();

      $.getJSON("/students/booking/list/", function(user_bookings){
        if(user_bookings.length === 0){
          help_text = "<li class=\"collection-item avatar\"><div><span class=\"subtext\" style=\"color:darkgrey;\">You have no upcoming bookings.</span></div></li>";
          $("#user-bookings-list").append(help_text);
        }else{
          $.each(user_bookings, function(index, booking){
            booking_id = booking.pk;
            date = moment(booking.fields.start_time).format("Do MMM YYYY");

            start_time = moment(booking.fields.start_time).format("HH:mm");
            end_time = moment(booking.fields.end_time).format("HH:mm");
            booking_info = start_time + " - " + end_time;

            list_item_html = "<li class=\"collection-item avatar\"><div><span class=\"title\">" + date + "</span><p id=\"booking_" + booking_id + "\" class=\"subtext\">" + booking_info + "</p><a id=\"delete-booking_" + booking_id + "\" href=\"#\" class=\"secondary-content\"><i class=\"material-icons md-18\">delete</i></a><div></li>";
            $("#user-bookings-list").append(list_item_html);
          })
        }
      }).fail(function(){
        Materialize.toast("Sorry, could not load your bookings");
      });
    };

    var delete_booking = function(event){
      event.preventDefault();

      source_btn = $(this);
      booking_id = source_btn.attr("id").match(/\d+/g);
        if(booking_id.length === 0){
        Materialize.toast("Sorry, booking not found");
        return false;
      }else{
        booking_id = booking_id[0];
      }

      // POST to delete the specified booking
      $.post("/students/booking/" + booking_id + "/delete/", function(response){
        Materialize.toast("Successfully deleted booking", 4000)

        update_booking_list();
      }).fail(function(response){
        Materialize.toast("Could not delete booking", 4000);
      });
    };
  </script>

  <script>
    $(document).ready(function(){
      init_booking_form();
      init_booking_list();
    });
  </script>
{% endblock extra_js_b %}
