{% extends "base_page.html" %}
{% load staticfiles pipeline %}

{% block extra_css_b %}
  <style type="text/css">
    #videoCanvas {
      /* Always stretch the canvas to 640x480, regardless of its
      internal size. */
      width: 320px;
      height: 240px;
      background-color: red;
    }

    #editor {
        min-height: 500px;
    }

    #terminal-output {
      min-height: 500px;
    }

    div.button-row {
      padding-bottom: 1rem  !important;
    }

    div.button-row div.button-container {
      padding-left: 1rem     !important;
      padding-right: 1rem  !important;
      float: right;
    }

    .tabbed-pane {
      padding-bottom: 1.5rem;
    }

    .tabs .tab a {
      color: #009688;
    }

    .tabs .tab a:hover {
      color: #b2dfdb;
    }

    .tabs .indicator {
      background-color: #009688;
    }
  </style>
{% endblock extra_css_b %}

{% block nav_ul_desktop_b %}
  <li><strong>{{ user.get_username }}</strong> </li>
  <li> &nbsp;&#124;&nbsp; </li>
  <li><a href="{% url 'students:auth_logout' %}">Logout</li>
{% endblock nav_ul_desktop_b %}
{% block nav_ul_mobile_b %}
  <li><strong>{{ user.get_username }}</strong> </li>
  <li><a href="{% url 'students:auth_logout' %}">Logout</li>
{% endblock nav_ul_mobile_b %}

{% block main_body_b %}
  <div class="container section">
    <div class="row z-depth-1 tabbed-pane">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s4"><a class="active" href="#editor-tab">Code editor</a></li>
          <li class="tab col s4"><a href="#output-tab">Output</a></li>
        </ul>
        <br>

        <div id="editor-tab" class="col s12">
          <div class="col s12 button-row">
            <div class="button-container">
              <a id="run-script-btn" class="waves-effect waves-light btn orange disabled" href="javascript:void(0)">Run</a>
            </div>
            <div class="button-container">
              <a id="download-script-btn" class="waves-effect waves-light btn orange" href="javascript:void(0)">Download Script</a>
            </div>
            <div class="button-container">
                <a class="waves-effect waves-light btn modal-trigger orange" href="#file-upload-modal">Load Script</a>
            </div>
          </div>

          <div id="editor" class="col s12">{% if user_script %}{{user_script}}{% else %}Your code here...{% endif %}</div>
        </div>

        <div id="output-tab" class="col s12">
          <div class="col s12 center">
            <canvas id="videoCanvas" width="320" height="240">
              <p>
                Please use a browser that supports the Canvas Element, like
                <a href="http://www.google.com/chrome">Chrome</a>,
                <a href="http://www.mozilla.com/firefox/">Firefox</a>,
                <a href="http://www.apple.com/safari/">Safari</a> or Internet Explorer 10
              </p>
            </canvas>
          </div>

          {% if robot %}
            <div id="terminal-output" class="col s12" data-robot-id="{{robot.id}}"></div>
          {% endif %}

          <p id="robot-help" style="display:none;">
            You do not have the current robot booking. Please make a booking in order to send code to the robot.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- File upload modal -->
  <div id="file-upload-modal" class="modal">
    <form action="." method="post" enctype="multipart/form-data">
      {% csrf_token %}

    <div class="modal-content">
      <h4>Upload a Script</h4>
      <p>
        Please select a script from your computer
      </p>

      <div class="file-field input-field">
        <div class="btn">
          <span>Choose File</span>
          <input type="file" name="uploaded_file" accept=".py">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <input type="submit" value="Upload" class=" modal-action modal-close waves-effect waves-green btn-flat">
    </div>
    </form>
  </div>
{% endblock main_body_b %}

{% block extra_js_b %}
  {% javascript 'jsmpg_js' %}
  <script type="text/javascript">
    $(document).ready(function(){
        // Setup the WebSocket connection and start the player
        var client = new WebSocket("ws://{{streaming_server_ip}}:8084/");

        // Don't do a jquery lookup for canvas. We need the actual element, not a jquery object
        var canvas = document.getElementById("videoCanvas");
        var player = new jsmpeg(client, {canvas: canvas});
    });
  </script>

  {% javascript 'ace_js' %}
  <script>
    $(document).ready(function(){
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/monokai");
      editor.getSession().setMode("ace/mode/python");
      editor.getSession().setTabSize(4);
      editor.getSession().setUseSoftTabs(true);

      if($("#terminal-output").length > 0){
        var terminal_output = ace.edit("terminal-output");
        terminal_output.setTheme("ace/theme/monokai");
        terminal_output.setReadOnly(true);
        terminal_output.setShowPrintMargin(false);
        terminal_output.getSession().setMode("ace/mode/text");
        terminal_output.getSession().setTabSize(4);
        terminal_output.getSession().setUseSoftTabs(true);
      }
    });
  </script>

  {% javascript 'filesaver_js' %}
  <script>
    $(document).ready(function(){
      $("#download-script-btn").click(function(){
        var editor = ace.edit("editor");
        var user_script = editor.getValue();

        var blob = new Blob([user_script], {type: "text/plain;charset=utf-8"});
        saveAs(blob, "raspied_script.py");
      });
    });
  </script>

  {% javascript 'reconnectingwebsocket_js' %}
  <script>
    $(function(){
      if($("#terminal-output").length < 1){
        $("#robot-help").show();

      }else{
        var ws_path = "ws://" + window.location.host + "/robot_terminal/stream/";
        console.log("Connecting to " + ws_path);
        var socket = new ReconnectingWebSocket(ws_path);

        socket.onmessage = function(message){
          var data = JSON.parse(message.data);

          if(data.error){
            Materialize.toast(data.error, 4000);
            return;
          }

          if(data.join){
            console.log("Robot terminal socket: terminal opened");

          }else if(data.leave){
            console.log("Robot terminal socket: terminal closed");

            $("#terminal-output").remove();
            Materialize.toast("Connection to robot closed", 4000);

          }else if(data.message){
            ace.edit("terminal-output").getSession().insert({
                row: ace.edit("terminal-output").getSession().getLength(),
                column: 0
              }, data.message);
          }else{
            console.log("Robot terminal socket: Undefined message received");
          }
        };

        socket.onopen = function(){
          console.log("Robot terminal socket: socket connected");

          socket.send(JSON.stringify({
            "command": "join",
            "robot": $("#terminal-output").attr("data-robot-id")
          }));
        };

        socket.onclose = function(){
          console.log("Robot terminal socket: socket disconnected");
        }

        $("#run-script-btn").on("click", function(){
          var editor = ace.edit("editor");
          var user_script = editor.getValue();

          socket.send(JSON.stringify({
            "command": "send",
            "robot": $("#terminal-output").attr("data-robot-id"),
            "message": user_script
          }));

          $("ul.tabs").tabs("select_tab", "output-tab");

          return false;
        });

        $("#run-script-btn").toggleClass("disabled", false);
      }
    });
  </script>
{% endblock extra_js_b %}
