{% extends "base_page.html" %}
{% load staticfiles pipeline %}

{% block extra_css_b %}
  <style type="text/css">
    #videoCanvas {
      /* Always stretch the canvas to 640x480, regardless of its
      internal size. */
      /*width: 640px;
      height: 480px;*/
      background-color: red;
    }
  </style>
  <style type="text/css">
    #editor {
        min-height: 500px;
    }
</style>
{% endblock extra_css_b %}

{% block nav_ul_desktop_b %}
  <li><a href="{% url 'students:auth_logout' %}">Logout</li>
{% endblock nav_ul_desktop_b %}
{% block nav_ul_mobile_b %}
  <li><a href="{% url 'students:auth_logout' %}">Logout</li>
{% endblock nav_ul_mobile_b %}

{% block main_body_b %}
  <div class="container">
    <div class="row">
      <br />
      <h5>Welcome, <strong>{{ user.get_username }}</strong> !</h5>
    </div>

    <div class="row">
      <div class="col s8">
        <div id="editor">
          def your_code_here():
            x = "Type or paste your code in this editor"
            return x
        </div>
      </div>

      <div class="col s3 offset-s1">
        <canvas id="videoCanvas" width="320" height="240">
          <p>
            Please use a browser that supports the Canvas Element, like
            <a href="http://www.google.com/chrome">Chrome</a>,
            <a href="http://www.mozilla.com/firefox/">Firefox</a>,
            <a href="http://www.apple.com/safari/">Safari</a> or Internet Explorer 10
          </p>
        </canvas>
      </div>
    </div>
  </div>
{% endblock main_body_b %}

{% block extra_js_b %}
  {% javascript 'jsmpg_js' %}
  <script type="text/javascript">
    $(document).ready(function(){
        // Setup the WebSocket connection and start the player
        var client = new WebSocket("ws://{{streaming_server_ip}}:8084/");

        // Don't do a jquery lookup for canvas. We need the actual element, not a jquery object
        var canvas = document.getElementById("videoCanvas");
        var player = new jsmpeg(client, {canvas: canvas});
    });
  </script>

  {% javascript 'ace_js' %}
  <script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/python");
  </script>
{% endblock extra_js_b %}
