{% load staticfiles pipeline %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>
    {% block title_b%} Raspied {% endblock title_b %}
  </title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% stylesheet 'libs_css' %}
  {% stylesheet 'custom_css' %}
  {% block extra_css_b %}{% endblock extra_css_b %}
</head>
<body>

  <nav class="teal lighten-1" role="navigation">
    <!-- TODO: fix the link to the index page -->
    <div class="nav-wrapper container"><a id="logo-container" href="{% url 'index' %}" class="brand-logo">Raspied</a>
      <ul class="right hide-on-med-and-down">
        {% block nav_ul_desktop_b %}{% endblock nav_ul_desktop_b %}
      </ul>

      <ul id="nav-mobile" class="side-nav">
        {% block nav_ul_mobile_b %}{% endblock nav_ul_mobile_b %}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <main>
    {% block pre_main_body_b %}{% endblock pre_main_body_b %}

    {% block main_body_b %}
    {% endblock main_body_b %}
  </main>

  <footer class="page-footer teal">
    <div class="container">
      {% block footer_b %}{% endblock footer_b %}
    </div>

    <div class="footer-copyright">
      <div class="container">
        {% block footer_copyright_b %}
          <div style="float:left;">
            <iframe src="https://ghbtns.com/github-btn.html?user=muhummadPatel&repo=raspied&type=watch" frameborder="0" scrolling="0" height="20px"></iframe>
          </div>
          <div style="float:right;">
            <a class="teal-text text-lighten-3" href="https://github.com/muhummadPatel" target="_blank">
              Muhummad Patel
            </a> 2016
          </div>
        {% endblock footer_copyright_b %}
      </div>
    </div>
  </footer>


  {% javascript 'libs_js' %}
  {% javascript 'init_js' %}
  {% block extra_js_b %}{% endblock extra_js_b %}

  </body>
</html>
